/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


.zone-branding-wrapper{
	background-color: #120639;
}

.region-content{
	border: 1px solid #999;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

body, button, input, label, select, td, textarea {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; 	
	font-size: 11px;
}

H1{
	font-size: 27px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.user-profile-picture{
	 margin: 10px 0;
	 box-shadow: 10px 10px 5px #888888;
	 width: 160px;	 
}

fieldset {
    border-radius: 10px;
    background: #eee;
	margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    border: 2px groove threedface;
	width: 90%;
}
legend {
    position: absolute;
    top: -2px;
    background: #fff;
    padding: 10px 20px;
    border: 2px groove threedface;
    border-top: none;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    font-weight: bold;
}
legend span {
    display: block;
    margin: -6px;
    background: #fff;
    
}

.fieldset-title{
	color: #000 !important;
}

@media screen and (min-width: 840px){

	.messages{
		color: #000 !important;
	}

	.front .zone-branding-wrapper .zone-branding .grid-4, .front .zone-branding-wrapper .zone-branding .grid-8{
		margin: 20px 5px;
		color: #FFF;		
	}
	
	.zone-branding-wrapper .zone-branding .grid-4, .zone-branding-wrapper .zone-branding .grid-8{
		color: #FFF;		
	}
	
	.block-user-login .form-item{
		float: left;
		margin-bottom: 1em;
		margin-top: 1em;		
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		margin-right: 10px !important;
		
	}

	.block-user-login .item-list ul {
		width: 90%;
		margin: 0px;
	}
	
	.block-user-login .item-list ul li {
		float: left;
		width: 40%;
		margin: 0px;
	}
	
	
	.block-user-login .form-actions input {
		margin-right: 0.5em;
		position: absolute;
		top: 20px;
	}
	
	.block-user-login .form-actions{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	
	.lms-user-login-form-wrapper .field-name-field-first-name{
		width: 35%;
		float: left;
	}
	.lms-user-login-form-wrapper .field-name-field-last-name{
		width: 60%;
		float: left;
	}
	
	.lms-user-login-form-wrapper .field-name-field-terms-condition-chk{
		float: left;
		margin-right: 20px;
	}
	
	.lms-user-login-form-wrapper .form-wrapper{
		float: left;
		margin-right : 10px;
	}
	
	.lms-user-login-form-wrapper fieldset{
		width: 100%;
		margin: 0px;
	}
	
	.site-logo-except-home{
		float: right;
		padding: 5px;
	}
	
	.first-name, .last-name, .view-user-profile-header .view-footer p{
		width: auto;
		float: left;
		margin: 10px 2px;
		padding-top: 10px;
		font-size: 11px;
		letter-spacing:1px;
		text-transform:capitalize;
		color: #FFF;
		text-shadow: 0px -1px 0px #000033; /* 50% white from top */
	}
	
	.user-login{
		float: right;
		width: 50%;
	}	
	
	
}

.block-user-login h2.block-title { 
    display: none;
}

.section-header a{
	color: #FFF !important;
	text-decoration: none !important;
}

.notification-row{
	padding: 20px;	
	clear: both;
	overflow: auto;
	border-bottom: 1px dotted #999;
}
.notification-row .user-picture{	
	float: left;
	margin: 20px 5px;
} 
.notification-row .user-picture img {
  border: 10px solid #fff; 
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.notification-row .title{	
    color: #355681;
    font-size: 11px;
    font-weight: 600;
	margin: 20px 5px 5px 10px;
    position: relative;  
}

.notification-row  .notification-title{	
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);    
	font-size: 14px;
    font-weight: bold;
	padding-left:100px;
	padding-bottom: 10px;
	color: #355681;
	text-transform:capitalize;
}

.notification-row  .notification-thumbnail{
	padding-left:100px;	
}

.notification-row  .notification-thumbnail img{
	border: 10px solid #fff; 
	-webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
.notification-helper-links{
	padding-left:90px;	
}

.notification-helper-links ul, .notification-helper-links ul p{
	margin-bottom: 0px !important; 
}

.notification-helper-links a{
	text-decoration: none;
	float: left;
	margin-right: 10px;
	font-weight: bold;
}
.region-content{
	border-left: 1px dotted #999;
}






















