/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.zone-branding-wrapper{
	background-color: #120639;
}

body, button, input, label, select, td, textarea {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}

H1{
	font-size: 27px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

@media screen and (min-width: 840px){
	.zone-branding-wrapper .zone-branding .grid-4, .zone-branding-wrapper .zone-branding .grid-8{
		margin: 20px 5px;
		color: #FFF;		
	}
	
	.block-user-login .form-item{
		float: left;
		margin-bottom: 1em;
		margin-top: 1em;
		width: 20%;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		
	}

	.block-user-login .item-list ul {
		width: 50%;
		margin: 0px;
	}
	
	.block-user-login .item-list ul li {
		float: left;
		width: 40%;
		margin: 0px;
	}
	
	
	.block-user-login .form-actions input {
		margin-right: 0.5em;
		position: absolute;
		top: 20px;
	}
	
	.block-user-login .form-actions{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	
	.lms-user-login-form-wrapper .field-name-field-first-name{
		width: 35%;
		float: left;
	}
	.lms-user-login-form-wrapper .field-name-field-last-name{
		width: 60%;
		float: left;
	}
	
	.lms-user-login-form-wrapper .field-name-field-terms-condition-chk{
		float: left;
		margin-right: 20px;
	}
	
	.lms-user-login-form-wrapper .form-wrapper{
		float: left;
		margin-right : 10px;
	}
	
	.lms-user-login-form-wrapper fieldset{
		width: 100%;
		margin: 0px;
	}
	
}

.block-user-login h2.block-title {
    display: none;
}

a{
	color: #FFF !important;
	text-decoration: none !important;
}