.page-user-profile .user-profile-wrapper{
	border-style: ridge;
    border-width: 3px;
	border-color: #B05F3C;
    padding: 20px;
	color: #000033;
	margin: 10 auto;
} 

.page-user-profile .user-profile-wrapper h3{
	border-bottom: 2px solid #A0522D;
	padding-bottom: 10px;
	color: #B05F3C;
	font-weight: normal;
}

.page-user-profile .user-profile-wrapper select, .page-user-profile .user-profile-wrapper input{
	width: 250px;
	height: 30px;
}

.page-user-profile .user-profile-wrapper input[type="submit"]{
	width: 150px;
}

.page-user-profile .user-profile-wrapper input[type="button"]{
	width: 100px;
}

.page-user-profile .user-profile-wrapper .user-profile-message{
	padding: 10px;
	font-weight: bold;
}

/* Team page CSS */
.page-team .form-item{
	padding-bottom: 15px !important;
	border-bottom: 1px dotted;
	width: 80%;
}
.page-team .user-team-wrapper select, .user-team-wrapper .user-profile-wrapper input{
	width: 250px;
	height: 30px;
}
.page-team .user-team-wrapper input[type="submit"]{
	width: 100px;
}

.page-team .user-team-wrapper input[type="button"]{
	width: 100px;
}

.page-team #PLAYERS .form-type-textfield{
	float: left;
	width: 25%;
	border-bottom: 0px;
	padding: 5px;
	
}
.page-team .players-wrapper-table{
	clear: both;
}

.page-team .players-wrapper-table{
	clear:both;
	margin: 20px 0;
}




